# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtul environments
venv/  
env/


# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db


# env files
.env




Archive


docs/
build/
dist/   


mudipu-sdk-python
planned